@font-face {
  font-family: "montserat";
  src: url(font/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "monmed";
  src: url(font/Montserrat-Medium.ttf);
}

header {
  background: black url(gambar/kkuda.png) no-repeat right center;
  background-size: contain;
  color: white;
  font-family: montserat;
  padding: 15px;
  position: relative;
  font-size: 30px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #dc5f00, #cf0a0a, #000000);
  padding: 8px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 3px 9px;
}

nav a {
  color: white;
  background-color: black;
  padding: 10px 20px;
  border-radius: 10px;
  display: block;
  text-decoration: none;
  font-family: montserat;
}

.banner {
  /*gif*/
  width: 100%;
  height: 250px;
  background-image: url(gambar/kudaajg.gif);
  background-size: 100% 100%;
  /*font*/
  font-size: 25px;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.decor01 {
  position: fixed;
  top: 70%;
  left: -65px;
  width: 170px;
  opacity: 0.5;
  z-index: -1;
  pointer-events: none;
  border-radius: 30px;
  transform: rotate(20deg);
}

body {
  margin: 0;
}

.teks {
  font-family: monmed;
  margin: 20px 100px 20px 100px;
  display: flex;
  background-color: #eeeeee;
  border-radius: 10px;
  padding: 0px 20px 20px 20px;
}

.teks h2 {
  margin-bottom: 9px;
}
.teks p {
  margin-top: 0;
  margin-bottom: 8px;
  text-indent: 25px;
  text-align: justify;
}

.tombol {
  display: inline-block;
  color: red;
  text-decoration: none;
  background-color: #000000;
  border-radius: 5px;
  padding: 8px 10px;
  font-family: montserat;
}

.gmbr01 {
  margin-top: 20px;
  text-align: center;
}

/*halaman2*/
.daku-kontener {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  justify-items: center;
  gap: 30px;
  padding: 30px 3%;
  color: #eeeeee;
  font-family: monmed;
}
.daku-item {
  background: #cf0a0a;
  border-radius: 14px;
  width: 220px;
  overflow: hidden;
  text-align: center;
  font-size: 14px;
  padding-bottom: 10px;
}
.daku-item h3 {
  margin-top: 0;
  margin-bottom: 6px;
}
.daku-item p {
  margin-top: 0;
  margin-bottom: 4px;
  text-align: left;
  padding: 0px 15px;
}
.daku-jpg {
  outline: 20px white;
  border-radius: 20px;
  padding-top: 10px;
}

footer {
  text-align: center;
  background: #cf0a0a;
  color: aliceblue;
  font-family: monmed;
  font-size: 13px;
  padding: 15px;
}
